SECRET_KEY=django-insecure-tu_clave_secreta_aqui
DEBUG=True

POSTGRES_DB=ecommerce_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0